.stocks{
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin: 60px 10px 0 10px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 20%;
    height: 520px;
    z-index: 1;
    position: relative;
}

.stocks > h3{
    font-weight: 500;
    margin-top: 0;
    margin-top: 200px;
}
.stocks > div{
    padding-right: 20px;
}
.stocks .monitor{
    position: absolute;
    top: 0 ;
    left: 50%;
    transform: translate(-50%, 0);
   
}



/* .stokmonitor{
    position: absolute;
}

.stokmonitor:hover{
    width: 120%;
    margin-left: -8%;
    /* margin-bottom: 2%; 
} */
.reviews img{
    margin-right: 10px;
}
.reviews span{
    margin-right: 10px;
    margin-top: 0;
    font-weight: 500;
    color: rgb(243, 142, 18);
}
.reviews span span {
    color: rgb(155, 152, 152);
}
.ul{
    color: gray;
    margin-left: -20px;
}
.likes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 5px;
}
.likes img{
    width: 55%;
    margin-left: 35px;
    padding-bottom: 30px;
}
.heart{
    margin-top: 20px;
}
.popUp{
    height: 30px;
    width: 110px;
    padding-left: 12px;
    padding-right: 5px;
    margin-top: 78px;
    margin-left: -15px;
    border: 1px solid rgb(255, 191, 0);
    background-color: rgb(255, 239, 173);
    border-radius: 14px;
    justify-content: space-around;
    display: flex;
    position: absolute;
}
.popUp img{
    height: 20px;
    width: 20px;
    margin: 0;
    margin-top: 5px;
}
.popUp2{
    height: 30px;
    width: 80px;
    border: 1px solid lightgrey;

    display: flex;
    margin-top: 138px;
    margin-left: 5px;
    border-radius: 4px;
    justify-content: space-around;
    position: absolute;
    color: black;
    background-color: white;
    align-items: center;
}
.plus, .count, .minus{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    color: #0092ca;
    font-size: 17px;
    text-align: center;
}
.minus, .plus{
    width: 25%;
    font-size: 18px;
    margin-left: 2px;
}
.count{
    width:40%;
}
.info{
    padding-bottom: 30px;
}
.info h2:nth-child(3){
    position: absolute;
    bottom: 0px;
    left: 30px;
}
.theLock{
    position: absolute;
    bottom: -5px;
    right: 30px;
    width: 30px !important;
    height: 38px;
}
.theHeart{
    position: absolute;
    bottom: 55px;
    right: 30px;
    width: 30px !important;
    height: 30px;
}
.theLock:hover , .theHeart:hover{
    cursor: pointer;
}
