.footer{
    border-top: 1px solid rgba(211, 211, 211, 0.609);
    border-bottom: 1px solid rgba(211, 211, 211, 0.609);
    margin-top: 70px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.footerlogos{
    justify-content: center;
    align-items: center;
}
.apple{
    height: 70px;
    margin-top: 3px;
}
.lg{
    height: 90px;
    margin-left: 150px;
}
.samsung{
    height: 70px;
    margin-top: 20px;
    margin-left: 130px;
}
.sony{
    height: 85px;
    margin-top: 5px;
    margin-left: 130px;
}
.asus{
    height: 80px;
    margin-top: 10px;
    margin-left: 130px;
}
